/* Container */
.courses-container {
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
}

/* Cards */
.course-cards {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    flex-wrap: wrap; /* Ensure responsive layout */
    padding: 2rem 0;
    padding-bottom: 0;
}

/* Course List */
.course-list {
    background-color: #34495e;  /* Slightly lighter blue */
    padding: 2.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Card (.course-list) Hover Effect */
.course-list:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

/* Course Provider */
.course-cards .provider {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 1.25rem;
    color: #3498DB; /* Vivid Blue */
}

/* Course card */
.course-card {
    text-align: justify;
    margin-bottom: 1.25rem;
}

/* Course Name */
.course-card .name {
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: underline;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

/* Couse Year */
.course-card .year {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: #bdc3c7;  /* Soft Gray */
}

/* Course Description */
.course-card .description {
    font-size: 1.1rem;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 1rem;
}
